In [275]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [276]:
dataset = pd.read_csv('C:/ai_dataset/Salary_Data.csv')
dataset.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [277]:
dataset['YearsExperience_power'] = dataset['YearsExperience'] * dataset['YearsExperience']

dataset.head()

   YearsExperience  Salary  YearsExperience_power
0              1.1   39343                   1.21
1              1.3   46205                   1.69
2              1.5   37731                   2.25
3              2.0   43525                   4.00
4              2.2   39891                   4.84

In [278]:
dataset.isna().sum()

YearsExperience          0
Salary                   0
YearsExperience_power    0
dtype: int64

In [279]:
X = dataset['Salary']

y = dataset['YearsExperience']

In [280]:
X = X.to_numpy()

y = y.to_numpy()

In [281]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25,random_state=0)

In [282]:
X_train = X_train.reshape(-1, 1)
X_test =  X_test.reshape(-1, 1)

In [283]:
X_train = np.column_stack((X_train ** 2, X_train))
X_test = np.column_stack((X_test ** 2, X_test))

In [284]:
X_train

array([[ 6903615744,       83088],
       [10262095204,      101302],
       [ 3208316164,       56642],
       [ 4359828841,       66029],
       [ 4153158025,       64445],
       [ 3734554321,       61111],
       [12953171344,      113812],
       [ 8415860644,       91738],
       [ 2134902025,       46205],
       [14852784384,      121872],
       [ 3618022500,       60150],
       [ 1591291881,       39891],
       [ 6619937769,       81363],
       [ 8824723600,       93940],
       [ 3270581721,       57189],
       [ 2964258025,       54445],
       [11147558724,      105582],
       [ 1894425625,       43525],
       [ 1547871649,       39343],
       [ 9657582529,       98273],
       [ 4615571844,       67938],
       [ 3244099849,       56957]], dtype=int64)

In [285]:
X_test

array([[ 1423628361,       37731],
       [14979556881,      122391],
       [ 3258240561,       57081],
       [ 3996515524,       63218],
       [13681746961,      116969],
       [11975143761,      109431],
       [12686643225,      112635],
       [ 3112970436,       55794]], dtype=int64)

In [286]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

In [287]:
regressor.fit(X_train,y_train)

LinearRegression()

In [288]:
y_pred = regressor.predict(X_test) 

accuracy = regressor.score(X_test, y_test)
print(accuracy)

0.9761562914369224

In [289]:
from sklearn.metrics import mean_absolute_error

In [290]:
y_prediction = regressor.predict(X_test)

mae = mean_absolute_error(y_test, y_prediction)
print(mae)

0.3701025437263239