<h1>2022.04.28. 강의 시간내 실습 - (3)</h1>

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats
from sklearn.datasets import load_iris

In [4]:
iris = load_iris()
df_iris_feature = iris.feature_names
df_iris_data = pd.DataFrame(iris.data, columns = df_iris_feature)
df_iris_data['species'] = iris.target

In [5]:
df_iris_data.shape

(150, 5)

In [6]:
df_iris_data.shape

(150, 5)

In [7]:
df_iris_data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [8]:
drop_column = ['species', 'petal width (cm)']

In [9]:
df_iris_data.drop(drop_column, axis=1, inplace=True)

In [12]:
df_iris_data

     sepal length (cm)  sepal width (cm)  petal length (cm)
0                  5.1               3.5                1.4
1                  4.9               3.0                1.4
2                  4.7               3.2                1.3
3                  4.6               3.1                1.5
4                  5.0               3.6                1.4
..                 ...               ...                ...
145                6.7               3.0                5.2
146                6.3               2.5                5.0
147                6.5               3.0                5.2
148                6.2               3.4                5.4
149                5.9               3.0                5.1

[150 rows x 3 columns]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [13]:
X = df_iris_data.iloc[:,0:2].values
y = df_iris_data.iloc[:,2].values

from sklearn.preprocessing import LabelEncoder
encoder =  LabelEncoder()
y1 = encoder.fit_transform(y)

Y = pd.get_dummies(y1).values

from sklearn.model_selection import train_test_split

X_train,X_test, y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [16]:
import tensorflow as tf

X = tf.keras.layers.Input(shape=[2])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 2)]               0

 dense_1 (Dense)             (None, 1)                 3

=================================================================
Total params: 3
Trainable params: 3
Non-trainable params: 0
_________________________________________________________________

In [17]:
model.fit(X_train, y_train, epochs=100, verbose=0)

In [18]:
test_mse_score = model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 228ms/step - loss: 7.0485